[submodule "SampleEngine/vendor/spdlog"]
	path = SampleEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SampleEngine/vendor/GLFW"]
	path = SampleEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "SampleEngine/vendor/ImGui"]
	path = SampleEngine/vendor/ImGui
	url = https://github.com/zhq1943/imgui
